
.vs/Tetris/v15/.suo
.vs/Tetris/v15/Browse.VC.db
.vs/Tetris/v15/ipch/687bb7ee1e8c226.ipch
.vs/Tetris/v15/ipch/AutoPCH/278b855b6564234b/TETRIS.ipch
.vs/Tetris/v15/Browse.VC.opendb
.vs/Tetris/v15/ipch/6b5aa50eb0c64a8d.ipch
