
.vs/Tetris/v15/.suo
.vs/Tetris/v15/Browse.VC.db
.vs/Tetris/v15/ipch/687bb7ee1e8c226.ipch
.vs/Tetris/v15/Browse.VC.opendb
.vs/Tetris/v15/ipch/AutoPCH/f42e5ce2f4cb14f3/TETRIS.ipch
.vs/Tetris/v15/ipch/fd2887ac101f82ca.ipch
Tetris/x64/Debug/pch.obj
*.lastbuildstate
Tetris/x64/Debug/Tetris.log
Tetris/x64/Debug/Tetris.obj
Tetris/x64/Debug/Tetris.pch
Tetris/x64/Debug/Tetris.tlog/CL.command.1.tlog
Tetris/x64/Debug/Tetris.tlog/CL.read.1.tlog
Tetris/x64/Debug/Tetris.tlog/CL.write.1.tlog
Tetris/x64/Debug/Tetris.tlog/link-cvtres.read.1.tlog
Tetris/x64/Debug/Tetris.tlog/link-cvtres.write.1.tlog
Tetris/x64/Debug/Tetris.tlog/link-rc.read.1.tlog
Tetris/x64/Debug/Tetris.tlog/link-rc.write.1.tlog
Tetris/x64/Debug/Tetris.tlog/link.command.1.tlog
Tetris/x64/Debug/Tetris.tlog/link.read.1.tlog
Tetris/x64/Debug/Tetris.tlog/link.write.1.tlog
Tetris/x64/Debug/Tetris.tlog/unsuccessfulbuild
Tetris/x64/Debug/vc141.idb
Tetris/x64/Debug/vc141.pdb
x64/Debug/Tetris.pdb
