
.vs/Tetris/v15/.suo
.vs/Tetris/v15/Browse.VC.db
.vs/Tetris/v15/ipch/687bb7ee1e8c226.ipch
.vs/Tetris/v15/Browse.VC.opendb
.vs/Tetris/v15/ipch/77e18464351925b5.ipch
.vs/Tetris/v15/ipch/AutoPCH/c4cb075c9309f830/TETRIS.ipch
